<div class="hmh-main" id="hmhMain">
    <hmh-hamburger></hmh-hamburger>
    <hmh-tools>
        <p slot="header-text" class="header-text" id="headerText">
            Tools
        </p>
    </hmh-tools>
    <hmh-properties>
        <p slot="header-text" class="header-text" id="headerText">
            Properties
        </p>
    </hmh-properties>
    <div class="save-message" id="saveMessage">Properties Saved Successful!</div>
    <div class="error-message" id="errorMessage">Error</div>
    <hmh-canvas-container></hmh-canvas-container>
    <hmh-viewyaml></hmh-viewyaml>
    <hmh-footer></hmh-footer>
</div>