.app-header {
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}