<div class="app-tools" id="appTools">
    <h3>Tools</h3>
    
    <app-accordion>
        <span slot="header">Rest Components</span>
        <div slot="content" class="node-container">
            <div class="node-item" data-type="restapi">
                <div class="node-preview rectangle"></div>
                <span>RestAPI</span>
            </div>
            <div class="node-item" data-type="decision">
                <div class="polygon-preview diamond"></div>
                <span>Decision</span>
            </div>
            <div class="node-item" data-type="loop">
                <div class="node-preview rounded"></div>
                <span>Loop</span>
            </div>
        </div>
    </app-accordion>

    <app-accordion>
        <span slot="header">Connectors</span>
        <div slot="content" class="node-container">
            <div class="connector-item" data-type="line">
                <div class="connector-preview"></div>
                <span>Line</span>
            </div>
        </div>
    </app-accordion>
</div>