.app-hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    gap: 5px;
}

.app-hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}