<div class="app-main" id="appMain">
    <app-tools></app-tools>
    <div class="main-block">
        <div class="app-main-header">
            <div class="left-btn-group">
                <button class="design-btn" id="designBtn">Design</button>
                <button class="yaml-btn" id="yamlBtn">Yaml</button>
            </div>
            <div class="right-btn-group">
                <button class="run-btn" id="runBtn">Run</button>
            </div>
        </div>
        <div class="app-main-viewer" id="appMainViewer">
            <app-canvas></app-canvas>
            <app-yaml></app-yaml>
        </div>
    </div>
    <app-properties></app-properties>
</div>