<div class="hmh-viewyaml" id="hmhViewYaml">
    <div id="popupContent">
        <div class="popup-header">
            <h2>YAML Content</h2>
            <div class="popup-actions">
                <button id="copyButton" class="icon-button" title="Copy">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                    </ svg>
                </button>
                <button id="downloadButton" class="icon-button" title="Download">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                        <polyline points="7 10 12 15 17 10"></polyline>
                        <line x1="12" y1="15" x2="12" y2="3"></line>
                    </ svg>
                </button>
                <button id="exportButton" class="icon-button" title="Export Integration">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                        <polyline points="7 8 12 3 17 8"></polyline>
                        <line x1="12" y1="15" x2="12" y2="3"></line>
                    </ svg>
                </button>
                <button id="runButton" class="icon-button" title="Run">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <polygon points="5 3 19 12 5 21 5 3"></polygon>
                    </ svg>
                </button>
                <button id="closePopup" class="icon-button" title="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </ svg>
                </button>
            </div>
        </div>
        <div id="yamlViewContainer">
            <pre id="lineNumbers"></pre>
            <pre id="yamlDisplay"></pre>
        </div>
        <span id="copyMessage"></span>
    </div>
</div>