.hmh-properties {
    padding: 1rem;
    overflow-y: auto;
}

h4{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.property {
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

.property label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 12px;
}

.property input,
.property textarea{
    width: 100% !important;
    padding: 0.5rem !important;
    box-sizing: border-box !important;
}

.property textarea{
    height: 100px;
    resize: vertical ;
}

.property select{
    width: 100% !important;
    box-sizing: border-box !important;
    height: 35px!important;
}

button {
    background-color: var(--primary-color); 
    border: 1px solid var(--text-color);
    color: var(--secondary-color); 
    padding: 10px 24px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button:hover {
    background-color: rgb(21, 21, 21);
}